body {
    background: rgb(0,255,149);
	background: radial-gradient(circle, rgba(0,255,149,1) 0%, rgba(9,118,121,1) 100%);
	color: white; /* Define o texto do body como branco */
}

.logo {
	display: block;
	margin: 0 auto;
	width: 150px; /* Ajuste o tamanho conforme necessário */
	margin-bottom: 20px;
}

.form-container {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: black;
}

.result-container {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: black;
}

.thankyou-container {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: black;
}

.btn-submit {
    background-color: #28a745;
    border: none;
    padding:10px;
    border-radius: 5px;
    margin-top: 5px;
}

.media-result {
    margin-bottom: 15px;
    font-size: 1.25rem; /* Ajuste o tamanho conforme necessário */
}

.media-result {
	font-size: 1.25rem;
	font-weight: bold;
}
.aprovado, .reprovado {
	display: inline-block;
	width: 100px; /* Largura fixa para manter o alinhamento */
}

/* Estilo do botão */
.btn-custom {
	background-color: #28a745; /* Cor verde do botão */
	color: white;              /* Texto branco */
	font-size: 1.25rem;        /* Tamanho do texto maior */
	padding: 10px 30px;        /* Aumentar o padding do botão */
	border: none;              /* Remover borda padrão */
	transition: background-color 0.3s ease; /* Efeito suave na mudança de cor */
}
/* Efeito hover */
.btn-custom:hover {
	background-color: #6c757d; /* Cor cinza ao passar o mouse */
}